/* main-color-text #212121
second-colot-text #757575
acent-colot-text #2196F3
white-color-text #FFFFFF
second-colot-text-footer rgba(255, 255, 255, 0.6)

background-hero-footer #2F303A
background-section-1 #E5E5E5
backgrond-sections-2 #F5F4FA
backgrond-header #FFFFFF */
:root {
  --main-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --second-color-text: #757575;
}

body {
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

img{
  display: block;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section{
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/

.header-container{
  display: flex;
  align-items: center;
}

.logo-header {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.logo {
  color: var(--main-text-color);
 
}

.navigation-list{
  display: flex;
  align-items: center;
}

.navigation-link{
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.site-nav .link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.current{
  position: relative;
}

.current::after{
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
  position: absolute;
  bottom: -1px;
}

/* site-contacts */
.navigation-item{
  margin-right: 50px;
}

.navigation-item:last-child{
  margin-right: 0;
}

.contacts-item{
  margin-left: 50px;
}

.contacts-item:first-child{
  margin-left: 0;
}
.site-contacts{
  display: flex;
  margin-left: auto;
  align-items: center;
}
.site-contacts .link {
  color: var(--second-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition-property:color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.icon-email,
.icon-phone{
  fill: currentColor; 
}

.link-email:hover,
.link-phone:hover{
  color: var(--accent-color);
}

.link-email:focus,
.link-phone:focus{
  color: var(--accent-color);
}

.contacts-icon {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  fill: var(--second-color-text);
  }
 
 
/*hero*/
.overlay{
  max-width: 1600px;
  background-image:
  linear-gradient(to bottom, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
  url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2F303A;
}

.hero {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 30px;

}

.button {
  cursor: pointer;
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
}

/* features */
.features-block{
display: flex;
justify-content: center;
align-items: center;
height: 120px;
width: 270px;
background-color: #F5F4FA;
margin-bottom: 30px;
}
.set-features{
  display: flex;
}

.features-item{
  margin-right: 30px;
  width: 270px;
}

.features-item:last-child{
  margin-right: 0;
}

.features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features p {
  color: var(--second-color-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}


/* directions */

.directions.section{
  padding-top: 0;
}
.directions-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.directions .directions-title{
  text-align: center;
  margin-bottom: 50px;
}

.set-directions{
  display: flex;
}

.directions-about{
  position: relative;
}

.directions-text{
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 100%;
  bottom:0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.directions-item{
  margin-right: 30px;
}

.directions-item:last-child{
  margin-right: 0;
}


/* team */

.team .team-title{
  text-align: center;
}

.set-team{
  display: flex;
  align-items: center;
}

.team-social{
  gap: 10px;
  display: flex;
  justify-content: center;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--main-white-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: #AFB1B8;
  transition-property: background-color,fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  } 

  .social-link:hover,
  .social-link:focus{
    background-color: var(--accent-color);
    fill:var(--white-color);
  }

.team-item{
  background-color: var(--white-color);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:last-child{
  margin-right: 0;
}

.team {
  background-color: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

.team-description{
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team-text {
  color: var(--second-color-text);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}


/*clients*/

.clients-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 3%;
  text-align: center;
  color: var(--main-text-color);
  margin: 0px;
  margin-bottom: 50px;
  }

.clients-list {
  display: flex;
  flex-wrap: wrap;
  }

.clients-item {
  height: 92px;
  width: calc((100% - 150px) / 6);
  margin-right: 30px;
  }

.clients-item:last-child{
  margin-right: 0;
}

.clients-link {
  display: flex;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  justify-content: center;
  align-items: center;
  font-size: 0;
  height: 100%;
  transition-property: border, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .client-btn{
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

.clients-link:hover,
.clients-link:focus{
  border: 1px solid var(--accent-color);
  background-color: #fff;
}

.clients-link:hover .client-btn,
.clients-link:focus .client-btn{
fill: var(--accent-color);
}

/*footer*/

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container{
  align-items: baseline;
  display: flex;
}

.logo-footer {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-studio{
  color: var(--white-color);
}


/* contacts-footer */
.address-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
}

.footer-contacts{
  margin-right: 70px;
}

.link.link-street {
  color: var(--white-color);
}

.address-footer a {
  color: rgba(255, 255, 255, 0.6);
}

.list.link{
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list .link:hover,
.list .link:focus {
  color: var(--accent-color);
}

.footer-item{
  margin-bottom: 9px;
}

.footer-item:last-child{
  margin-bottom: 0;
}

.join-title{
  font-size: 14px;
  line-height: 1.17;
  color: var(--white-color);
  margin-bottom: 20px;
  padding-bottom: 0px;
}

.footer-social{
  margin-right: 93px;
}
.footer-social-list{
  display: flex;
}

.footer-social-item{
  margin-right: 10px;
}

.footer-social-item:last-child{
  margin-right: 0;
}

.footer-social-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--white-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
  
.footer-social-link:hover,
.footer-social-link:focus{
background-color: var(--accent-color);
}


.subscribe{
  display: flex;
}

.join-form-email{
  Width: 358px;
  Height:50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  background-color: #2F303A;
}

.join-form-email::placeholder{
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.button-join-us{
  display: flex;
  box-sizing: border-box;
  color: var(--white-color);
  width: 200px;
  height: 50px;
  border: 0;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.symbol-letter{
  margin-left: 10px;
  
}

/* site portfolio */
header{
  border: 1px solid #ECECEC;
}

.button-item .link {
  color: var(--main-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link.link-current{
  background-color: var(--accent-color);
  color: var(--white-color);
  border: var(--accent-color);
  cursor: pointer;
}

.portfolio-nav .link:hover,
.portfolio-nav .link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container-work-about{
  position: relative;
  overflow: hidden;
}

.work-about{
  position: absolute;
  top:0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  color: var(--white-color);
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-item:hover .work-about,
.work-item:focus .work-about{
  transform: translateY(0);
}
.work-description{
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.works h2 {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.work-directions {
  color: var(--second-color-text);
  font-size: 16px;
  line-height: 1.88;
}

.link-works{
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-works:hover,
.link-works:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.button-list {
  display: flex;
  justify-content: center;
  }

.button-item{
  margin-bottom: 50px;
  margin-right: 8px;
  border-radius: 4px;
}

.button-item .link{
  padding: 6px 22px;
}

.button-item:last-child{
  margin-right: 0;
}

.button-list .link{
  border: none;
}

.works{
  display: flex;
  flex-wrap: wrap;
}

.work-item{
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.work-item:nth-child(3n) {
  margin-right: 0;
}

 .work-item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}





.backdrop{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
  position: absolute;
  width: 528px;
  min-height: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close{
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;


  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;

  cursor: pointer;
}

.is-hidden{
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form-input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left:42px;
  cursor: pointer;
  transition-property: outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .input-icon{
  fill: var(--accent-color);
}

.form-input:focus{
  outline-color: var(--accent-color);
}

.input-field{
  margin-bottom: 14px;
}

.input-title{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom:4px;
}

.form-textarea{
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition-property: outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus{
  outline-color: var(--accent-color);
}

.form-textarea::placeholder{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-fill{
  position: relative;
}

.input-icon{
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 6px;
}
.check-text span{
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.check-text a{
  text-decoration: underline;
}
.check-icon{
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.input-check:checked + .check-text span{
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.input-check:checked + .check-text .check-icon{
  fill: var(--white-color);
}

.input-check:focus + .check-text span{
  border-color: var(--accent-color);
}

.btn-send{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--white-color);
  cursor: pointer;
}