.modal{
    position: absolute;
    width: 528px;
    min-height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}
  
.modal-close{
    position: absolute;
    top: 8px;
    right: 8px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
  
  
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #ffffff;
  
    cursor: pointer;
  
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover{
        fill: var(--accent-color);
    }
}
  
