.button-item .link {
    color: var(--main-text-color);
    background-color: #f5f4fa;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 4px;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  
.link.link-current{
    background-color: var(--accent-color);
    color: var(--white-color);
    border: var(--accent-color);
    cursor: pointer;
}
  
.portfolio-nav{
    & .link:hover,
    &.link:focus {
        color: var(--white-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.button-list {
    display: flex;
    justify-content: center;
}

.button-list .link{
    border: none;
}
  
.button-item{
    margin-bottom: 50px;
    margin-right: 8px;
    border-radius: 4px;

    &:last-child{
        margin-right: 0;
    }
}
  
.button-item .link{
    padding: 6px 22px;
}
    
