.navigation-item{
    margin-right: 50px;

    &:last-child{
    margin-right: 0;
    }
}
  
.contacts-item{

    @media screen and (min-width: 768px){
        margin-right: auto;
        margin-bottom: 12px;

            &:last-child{
                margin-bottom: 0;
            }
    }

    @media screen and (min-width: 1200px){
        margin-bottom: 0;
        margin-right: 50px;

            &:last-child{
            margin-right: 0;
        }
    }
    
}

.site-contacts{
    display: none;

    @media screen and (min-width: 768px){
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: auto;
    }

    @media screen and (min-width:1200px) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    & .link {
    color: var(--second-color-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition-property:color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
  }
} 
  
.icon-email,
.icon-phone{
    fill: currentColor; 
}
  
.link-email{
    &:hover,
    &:focus{
        color: var(--accent-color);
    }
}
  
.link-phone{
    &:hover,
    &:focus{
        color: var(--accent-color);
    }
}
  
.contacts-icon {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    fill: var(--second-color-text);
}