.team__section {
    background-color: #f5f4fa;
}
  
.team__title{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
}
  
.team__set{
    display: flex;
    align-items: center;
}
  
.team__item{
    background-color: var(--white-color);
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:last-child{
    margin-right: 0;
    }
}
  
.team__description{
    padding-top: 30px;
    padding-bottom: 30px;
}
  
.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}
  
.team__position {
    color: var(--second-color-text);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
}
  
.social__list{
    gap: 10px;
    display: flex;
    justify-content: center;
}
  
.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--main-white-color);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    fill: #AFB1B8;
    transition-property: background-color,fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus{
      background-color: var(--accent-color);
      fill:var(--white-color);
    }
}