body {
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
  
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
  
header{
    border: 1px solid #ECECEC;
}

.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

